@import "../helpers/mixins";

%header {
  @keyframes move {
    0% {
      top: -300%;
      opacity: 0
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }

  p:nth-child(1) {
    position: relative;
    min-width: 80px;
    display: block;
    margin: 0 0 0 20px;
    min-height: 60px;
    @include headerLetters(3 , 25); // $items --> styling header letters, $inc --> inc. distance between letters
    @media only screen and (min-width: 400px) {
      min-height: 100px;
      min-width: 120px;
      margin: 0;
      display: inline-block;
      @include headerLetters(3 , 40);
    }
    @media only screen and (min-width: 800px) {
      min-width: 200px;
      min-height: 140px;
      display: inline-block;
      @include headerLetters(3 , 60);
    }
  }

  p:nth-child(2) {
    position: relative;
    display: inline-block;
    min-width: 70px;
    margin: 0 0 0 20px;
    min-height: 60px;
    @include headerLetters(3, 15);
    @media only screen and (min-width: 400px) {
      min-height: 100px;
      min-width: 120px;
      margin: 0;
      @include headerLetters(3, 30);
    }
    @media only screen and (min-width: 800px) {
      margin: 0;
      min-height: 140px;
      min-width: 200px;
      @include headerLetters(3, 45);
    }
  }

  p:nth-child(3) {
    position: relative;
    display: inline-block;
    min-width: 130px;
    margin: 0;
    min-height: 60px;
    @include headerLetters(5, 25);
    @media only screen and (min-width: 400px) {
      min-height: 100px;
      min-width: 200px;
      @include headerLetters(5, 35);
    }
    @media only screen and (min-width: 800px) {
      min-height: 140px;
      min-width: 300px;
      @include headerLetters(5, 60);
    }
  }
}