@import "../helpers/placeholders";


/* Menu Links */
%icon-overlay {
  @each $item in $menuItems {
    a:nth-child(#{$counter}) {

      i:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $background-nav;
        opacity: 0;
        transition: opacity 0.5s;
      }

      i:hover:before {
        opacity: 1;
      }

      i:after {
        content: $item;
        opacity: 0;
        transition: opacity 0.5s;
        font-size: 8px;

        /* Centered */
        @extend %centering;
      }

      i:hover:after {
        opacity: 1;
        color: $hover-nav;
      }
    }
    $counter: $counter + 1;
  }
}