@import "../helpers/mixins";

%menu-on-small-screens {
  .menu {
    width: 100%;
    height: 61px;
    display: flex;
    @include flex-flow(row-reverse nowrap);
    @include align-items(center);
    padding: 3px 10px 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $background-nav;
    z-index: 1000;
    @media only screen and (min-width: 400px) {
      display: none;
    }

    .material-icons.md {
      font-size: 36px;
      color: $white;
      cursor: pointer;
      &:hover {
        color: $hover-nav;
      }
    }
  }
}