@import "../helpers/mixins";

%msg-form {
  .msgForm {
    position: relative;
    width: 100%;
    @media only screen and (min-width: 500px) {
      width: 80%;
    }
    @media only screen and (min-width: 800px) {
      width: 60%;
    }

    form {
      display: flex;
      @include flex-flow(column, nowrap);

      input, textarea {
        margin-bottom: 5px;
        resize: vertical;
        padding: 5px 5px;
        background-color: $background-even;
        box-shadow: 1px 1px 2px $black;
      }

      textarea {
        height: 80px;
        @media only screen and (min-width: 400px) {
          height: 100px;
        }

      }

      input[type="submit"] {
        cursor: pointer;
        border: 1px solid $text;
        font-weight: bold;
        outline: none;
        width: 100%;
        background-color: $background-home;
        color: $white;
        @include transitionRequired(all, .5s);
        @media only screen and (min-width: 800px) {
          width: 120px;
        }

        &:hover {
          background-color: $background-even;
          color: $background-home;
        }
      }
    }

    .popupWindow {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 105%;
      height: 105%;
      margin: -10px 0 0 -15px;
      border-radius: 10px;
      padding: 0;
      background-color: $backgroundNav-rgb;

      span {
        position: absolute;
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px 10px $red;
        @extend %centering;
      }
    }
  }

}