@import "../helpers/placeholders";

%contact {
  #contact {
    padding: 40px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    h2 {
      text-align: center;
      color: $hover;
    }
    p {
      color: $text;
    }

    form {
      display: flex;
      flex-flow: column nowrap;
      input, textarea {
        margin-bottom: 5px;
        width: 100%;
        resize: vertical;
        padding: 5px 5px;
      }

      input:last-child {
        width: 60px;
        background-color: $background;
        color: $hover;

      }

      @media only screen and (min-width: 800px) {
        input, textarea {
          width: 50%;
        }
      }
    }


  }

}