@import "../helpers/placeholders";

%myWork {
  #myWork {
    background-color: $text;
    padding: 40px 0;
    cursor: pointer;

    h2 {
      text-align: center;
    }

    .container {
      display: flex;
      flex-flow: column nowrap;

      .content {
        position: relative;
        &:hover .overlayTop {
          opacity: 1;
          height: 50%;
          bottom: 50%;
        }

        &:hover .overlayBottom {
          opacity: 1;
          height: 50%;
          top: 50%;
        }

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }

        .overlayTop {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 100%;
          left: 0;
          right: 0;
          width: 100%;
          height: 0;
          background-color: $text;
          opacity: 0;
          transition: all 1s;
          h3 {
           margin: 0;
          }
          span {
            color: $text-styling;
          }
        }

        .overlayBottom {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: $text;
          opacity: 0;
          transition: all 1s;
          a {
            text-decoration: none;
            border: 1px solid $hover;
            padding: 5px 15px;
            color: $background;
            font-weight: bold;
            &:hover {
              background-color: $hover;
              color: $text;
            }
          }
        }
      }
      @media only screen and (min-width: 800px) {
        flex-flow: row nowrap;
      }
    }

  }
}