@import "layout/nav";
@import "pages/home";
@import "pages/about";
@import "pages/skills";
@import "pages/myWork";
@import "pages/contact";
@import "layout/footer";

body {
  font-family: $standard-font; /* Imported Google Font */
  @media only screen and (min-width: 800px) {
    margin-left: 80px;
  }

  .container {
    @extend %nav;
    @extend %home;
    @extend %about;
    @extend %skills;
    @extend %myWork;
    @extend %contact;
    @extend %footer;
  }
}


