/* Colors */
/* odd */
/* even */
/* Fonts */
/* Fonts-size */
/* MENU */
/* icon-overlay */
/* Header Animation */
body .container .nav-container nav a:nth-child(1) i:after, body .container .nav-container nav a:nth-child(2) i:after, body .container .nav-container nav a:nth-child(3) i:after, body .container .nav-container nav a:nth-child(4) i:after, body .container .nav-container nav a:nth-child(5) i:after, body .container #contact .msgForm .popupWindow span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/* Menu Links */
body .container .nav-container nav a:nth-child(1) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1B242F;
  opacity: 0;
  transition: opacity 0.5s; }
body .container .nav-container nav a:nth-child(1) i:hover:before {
  opacity: 1; }
body .container .nav-container nav a:nth-child(1) i:after {
  position: absolute;
  content: "HOME";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
body .container .nav-container nav a:nth-child(1) i:hover:after {
  opacity: 1;
  color: #08FDD8; }
body .container .nav-container nav a:nth-child(2) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1B242F;
  opacity: 0;
  transition: opacity 0.5s; }
body .container .nav-container nav a:nth-child(2) i:hover:before {
  opacity: 1; }
body .container .nav-container nav a:nth-child(2) i:after {
  position: absolute;
  content: "ABOUT";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
body .container .nav-container nav a:nth-child(2) i:hover:after {
  opacity: 1;
  color: #08FDD8; }
body .container .nav-container nav a:nth-child(3) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1B242F;
  opacity: 0;
  transition: opacity 0.5s; }
body .container .nav-container nav a:nth-child(3) i:hover:before {
  opacity: 1; }
body .container .nav-container nav a:nth-child(3) i:after {
  position: absolute;
  content: "SKILLS";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
body .container .nav-container nav a:nth-child(3) i:hover:after {
  opacity: 1;
  color: #08FDD8; }
body .container .nav-container nav a:nth-child(4) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1B242F;
  opacity: 0;
  transition: opacity 0.5s; }
body .container .nav-container nav a:nth-child(4) i:hover:before {
  opacity: 1; }
body .container .nav-container nav a:nth-child(4) i:after {
  position: absolute;
  content: "MY WORK";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
body .container .nav-container nav a:nth-child(4) i:hover:after {
  opacity: 1;
  color: #08FDD8; }
body .container .nav-container nav a:nth-child(5) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1B242F;
  opacity: 0;
  transition: opacity 0.5s; }
body .container .nav-container nav a:nth-child(5) i:hover:before {
  opacity: 1; }
body .container .nav-container nav a:nth-child(5) i:after {
  position: absolute;
  content: "CONTACT";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
body .container .nav-container nav a:nth-child(5) i:hover:after {
  opacity: 1;
  color: #08FDD8; }

body .container .nav-container {
  /* TOP MENU - on small screen */
  /* BOTTOM MENU */
  /* Add class to nav which hide and show menu */ }
  body .container .nav-container .menu {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    padding: 3px 10px 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1B242F;
    z-index: 1000; }
    @media only screen and (min-width: 400px) {
      body .container .nav-container .menu {
        display: none; } }
    body .container .nav-container .menu .material-icons.md {
      font-size: 36px;
      color: #fff;
      cursor: pointer; }
      body .container .nav-container .menu .material-icons.md:hover {
        color: #08FDD8; }
  body .container .nav-container nav {
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1B242F;
    /* Medium screen */
    /* Large screen */
    /* Menu icons Overlay on all screens */ }
    @media only screen and (min-width: 400px) {
      body .container .nav-container nav {
        transform: translate3d(0, 0, 0);
        top: 0;
        justify-content: center; } }
    @media only screen and (min-width: 800px) {
      body .container .nav-container nav {
        flex-flow: column wrap;
        width: 80px;
        height: 100%; } }
    body .container .nav-container nav a {
      position: relative;
      padding: 10px 0;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .container .nav-container nav a .material-icons.md {
        color: #616161; }
        body .container .nav-container nav a .material-icons.md:hover {
          color: #E74C3C; }
      @media only screen and (min-width: 400px) {
        body .container .nav-container nav a {
          padding: 10px 20px; } }
  body .container .nav-container .hide {
    transform: translate3d(-100%, 0, 0); }
    @media only screen and (min-width: 400px) {
      body .container .nav-container .hide {
        transform: translate3d(0, 0, 0); } }
  body .container .nav-container .show {
    transform: translate3d(0, 0, 0);
    overflow: hidden; }

/* Colors */
/* odd */
/* even */
/* Fonts */
/* Fonts-size */
/* MENU */
/* icon-overlay */
/* Header Animation */
body .container .nav-container nav a:nth-child(1) i:after, body .container .nav-container nav a:nth-child(2) i:after, body .container .nav-container nav a:nth-child(3) i:after, body .container .nav-container nav a:nth-child(4) i:after, body .container .nav-container nav a:nth-child(5) i:after, body .container #contact .msgForm .popupWindow span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/* Colors */
/* odd */
/* even */
/* Fonts */
/* Fonts-size */
/* MENU */
/* icon-overlay */
/* Header Animation */
body .container .nav-container nav a:nth-child(1) i:after, body .container .nav-container nav a:nth-child(2) i:after, body .container .nav-container nav a:nth-child(3) i:after, body .container .nav-container nav a:nth-child(4) i:after, body .container .nav-container nav a:nth-child(5) i:after, body .container #contact .msgForm .popupWindow span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/* Header Letters */
/* Falling letters ENDS HERE */
@keyframes move {
  0% {
    top: -300%;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }
body .container #home .heading p:nth-child(1) {
  position: relative;
  min-width: 80px;
  display: block;
  margin: 0 0 0 20px;
  min-height: 60px;
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */ }
  body .container #home .heading p:nth-child(1) span:nth-child(1) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 0px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  body .container #home .heading p:nth-child(1) span:nth-child(2) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 25px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  body .container #home .heading p:nth-child(1) span:nth-child(3) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 50px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  @media only screen and (min-width: 400px) {
    body .container #home .heading p:nth-child(1) {
      min-height: 100px;
      min-width: 120px;
      margin: 0;
      display: inline-block;
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */ }
      body .container #home .heading p:nth-child(1) span:nth-child(1) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 0px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(1) span:nth-child(2) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 40px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(1) span:nth-child(3) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 80px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); } }
  @media only screen and (min-width: 800px) {
    body .container #home .heading p:nth-child(1) {
      min-width: 200px;
      min-height: 140px;
      display: inline-block;
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */ }
      body .container #home .heading p:nth-child(1) span:nth-child(1) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 0px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(1) span:nth-child(2) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 60px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(1) span:nth-child(3) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 120px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); } }
body .container #home .heading p:nth-child(2) {
  position: relative;
  display: inline-block;
  min-width: 70px;
  margin: 0 0 0 20px;
  min-height: 60px;
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */ }
  body .container #home .heading p:nth-child(2) span:nth-child(1) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 0px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  body .container #home .heading p:nth-child(2) span:nth-child(2) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 15px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  body .container #home .heading p:nth-child(2) span:nth-child(3) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 30px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  @media only screen and (min-width: 400px) {
    body .container #home .heading p:nth-child(2) {
      min-height: 100px;
      min-width: 120px;
      margin: 0;
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */ }
      body .container #home .heading p:nth-child(2) span:nth-child(1) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 0px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(2) span:nth-child(2) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 30px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(2) span:nth-child(3) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 60px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); } }
  @media only screen and (min-width: 800px) {
    body .container #home .heading p:nth-child(2) {
      margin: 0;
      min-height: 140px;
      min-width: 200px;
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */ }
      body .container #home .heading p:nth-child(2) span:nth-child(1) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 0px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(2) span:nth-child(2) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 45px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(2) span:nth-child(3) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 90px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); } }
body .container #home .heading p:nth-child(3) {
  position: relative;
  display: inline-block;
  min-width: 130px;
  margin: 0;
  min-height: 60px;
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
  /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */ }
  body .container #home .heading p:nth-child(3) span:nth-child(1) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 0px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  body .container #home .heading p:nth-child(3) span:nth-child(2) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 25px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  body .container #home .heading p:nth-child(3) span:nth-child(3) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 50px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  body .container #home .heading p:nth-child(3) span:nth-child(4) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 75px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  body .container #home .heading p:nth-child(3) span:nth-child(5) {
    position: absolute;
    opacity: 0;
    top: -300px;
    left: 100px;
    color: #252627;
    text-shadow: 2px 2px 10px #fff;
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
  @media only screen and (min-width: 400px) {
    body .container #home .heading p:nth-child(3) {
      min-height: 100px;
      min-width: 200px;
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */ }
      body .container #home .heading p:nth-child(3) span:nth-child(1) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 0px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(3) span:nth-child(2) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 35px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(3) span:nth-child(3) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 70px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(3) span:nth-child(4) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 105px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(3) span:nth-child(5) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 140px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); } }
  @media only screen and (min-width: 800px) {
    body .container #home .heading p:nth-child(3) {
      min-height: 140px;
      min-width: 300px;
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */
      /* Increase space between letters ( span elements ). Base on font size space need to be adjusted */ }
      body .container #home .heading p:nth-child(3) span:nth-child(1) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 0px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(3) span:nth-child(2) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 60px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(3) span:nth-child(3) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 120px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(3) span:nth-child(4) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 180px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); }
      body .container #home .heading p:nth-child(3) span:nth-child(5) {
        position: absolute;
        opacity: 0;
        top: -300px;
        left: 240px;
        color: #252627;
        text-shadow: 2px 2px 10px #fff;
        animation-name: move;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.91, 0.8, 0.54, 1.39); } }

body .container #home {
  padding: 100px 0 40px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  min-height: 100vh;
  font-size: 14px;
  background-color: #E74C3C; }
  @media only screen and (min-width: 400px) {
    body .container #home {
      padding: 80px 0 40px 0;
      align-items: center;
      justify-content: center; } }
  body .container #home .heading {
    font-size: 3em;
    width: 100%;
    margin: 0;
    font-family: "Roboto Mono", monospace; }
    @media only screen and (min-width: 400px) {
      body .container #home .heading {
        text-align: center;
        font-size: 5em; } }
    @media only screen and (min-width: 800px) {
      body .container #home .heading {
        font-size: 8em; } }
  body .container #home .subHeading {
    margin-top: 0;
    margin-left: 20px;
    padding: 2px;
    font-size: 1.5em;
    color: #616161;
    text-shadow: 1px 1px 4px #fff; }
    @media only screen and (min-width: 400px) {
      body .container #home .subHeading {
        font-size: 2em; } }
    @media only screen and (min-width: 800px) {
      body .container #home .subHeading {
        font-size: 4em; } }
  body .container #home a {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    margin-left: 20px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px;
    background-color: #E74C3C;
    box-shadow: 0 0 15px #252627;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: color 0.5s, background-color 1.5s, text-shadow 0.5s; }
    @media only screen and (min-width: 400px) {
      body .container #home a {
        padding: 10px; } }
    body .container #home a i {
      padding-left: 5px;
      transition: all 0.5s; }
    body .container #home a:hover {
      color: black;
      background-color: #fff;
      text-shadow: 0 0 2px red; }
    body .container #home a:hover i {
      transform: rotate(90deg) translate(-2px, 0); }

/* Colors */
/* odd */
/* even */
/* Fonts */
/* Fonts-size */
/* MENU */
/* icon-overlay */
/* Header Animation */
body .container .nav-container nav a:nth-child(1) i:after, body .container .nav-container nav a:nth-child(2) i:after, body .container .nav-container nav a:nth-child(3) i:after, body .container .nav-container nav a:nth-child(4) i:after, body .container .nav-container nav a:nth-child(5) i:after, body .container #contact .msgForm .popupWindow span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

body .container #about {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 40px 20px;
  font-size: 14px;
  background-color: #F5F5F5; }
  body .container #about h2 {
    color: #444649;
    font-size: 2em; }
    @media only screen and (min-width: 400px) {
      body .container #about h2 {
        font-size: 3em; } }
    @media only screen and (min-width: 800px) {
      body .container #about h2 {
        font-size: 3.5em; } }
  body .container #about p {
    font-size: 1.2em; }
    body .container #about p span {
      color: #E74C3C;
      font-weight: bold; }
    @media only screen and (min-width: 400px) {
      body .container #about p {
        font-size: 1.5em; } }
    @media only screen and (min-width: 800px) {
      body .container #about p {
        font-size: 2em; } }

/* Colors */
/* odd */
/* even */
/* Fonts */
/* Fonts-size */
/* MENU */
/* icon-overlay */
/* Header Animation */
body .container .nav-container nav a:nth-child(1) i:after, body .container .nav-container nav a:nth-child(2) i:after, body .container .nav-container nav a:nth-child(3) i:after, body .container .nav-container nav a:nth-child(4) i:after, body .container .nav-container nav a:nth-child(5) i:after, body .container #contact .msgForm .popupWindow span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

body .container #skills {
  padding: 40px 0 60px 0;
  background: #fff;
  font-size: 14px; }
  body .container #skills h2 {
    font-size: 2em;
    text-align: center;
    color: #444649;
    margin-bottom: 60px; }
    @media only screen and (min-width: 400px) {
      body .container #skills h2 {
        font-size: 3em; } }
    @media only screen and (min-width: 400px) {
      body .container #skills h2 {
        font-size: 3.5em; } }
  body .container #skills .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; }
    body .container #skills .container .content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin: 15px;
      align-self: center; }
      body .container #skills .container .content i {
        font-size: 36px;
        margin-bottom: 10px; }
        @media only screen and (min-width: 400px) {
          body .container #skills .container .content i {
            font-size: 64px;
            margin-left: 10px;
            margin-right: 10px; } }
        @media only screen and (min-width: 800px) {
          body .container #skills .container .content i {
            font-size: 96px;
            margin-left: 20px;
            margin-right: 20px; } }
      body .container #skills .container .content span {
        color: #616161;
        font-weight: bold; }

/* Colors */
/* odd */
/* even */
/* Fonts */
/* Fonts-size */
/* MENU */
/* icon-overlay */
/* Header Animation */
body .container .nav-container nav a:nth-child(1) i:after, body .container .nav-container nav a:nth-child(2) i:after, body .container .nav-container nav a:nth-child(3) i:after, body .container .nav-container nav a:nth-child(4) i:after, body .container .nav-container nav a:nth-child(5) i:after, body .container #contact .msgForm .popupWindow span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/* Colors */
/* odd */
/* even */
/* Fonts */
/* Fonts-size */
/* MENU */
/* icon-overlay */
/* Header Animation */
body .container .nav-container nav a:nth-child(1) i:after, body .container .nav-container nav a:nth-child(2) i:after, body .container .nav-container nav a:nth-child(3) i:after, body .container .nav-container nav a:nth-child(4) i:after, body .container .nav-container nav a:nth-child(5) i:after, body .container #contact .msgForm .popupWindow span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

body .container #myWork .container .content .overlayTop {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  background-color: #F5F5F5;
  opacity: 0;
  transition: all .5s; }
  body .container #myWork .container .content .overlayTop h3 {
    margin: 10px 0;
    font-size: 1.5em; }
    @media only screen and (min-width: 400px) {
      body .container #myWork .container .content .overlayTop h3 {
        font-size: 2em; } }
    @media only screen and (min-width: 400px) {
      body .container #myWork .container .content .overlayTop h3 {
        font-size: 2.5em; } }
  body .container #myWork .container .content .overlayTop span {
    color: #984447;
    font-size: 1em; }
    @media only screen and (min-width: 400px) {
      body .container #myWork .container .content .overlayTop span {
        font-size: 1.2em; } }
    @media only screen and (min-width: 400px) {
      body .container #myWork .container .content .overlayTop span {
        font-size: 1.5em; } }
body .container #myWork .container .content .overlayBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #F5F5F5;
  opacity: 0;
  transition: all .5s; }
  body .container #myWork .container .content .overlayBottom a {
    text-decoration: none;
    border: 1px solid #E74C3C;
    padding: 5px 15px;
    color: #444649;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all .5s; }
    @media only screen and (min-width: 300px) {
      body .container #myWork .container .content .overlayBottom a {
        padding: 10px 20px; } }
    @media only screen and (min-width: 400px) {
      body .container #myWork .container .content .overlayBottom a {
        font-size: 1.3em; } }
    @media only screen and (min-width: 800px) {
      body .container #myWork .container .content .overlayBottom a {
        font-size: 1.5em; } }
    body .container #myWork .container .content .overlayBottom a:hover {
      background-color: #E74C3C;
      color: #fff; }

body .container #myWork {
  padding: 40px 0 60px 0;
  background-color: #F5F5F5;
  font-size: 14px; }
  body .container #myWork h2 {
    text-align: center;
    margin-bottom: 60px;
    color: #444649;
    font-size: 2em; }
    @media only screen and (min-width: 400px) {
      body .container #myWork h2 {
        font-size: 3em; } }
    @media only screen and (min-width: 800px) {
      body .container #myWork h2 {
        font-size: 3.5em; } }
  body .container #myWork .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    @media only screen and (min-width: 700px) {
      body .container #myWork .container {
        flex-flow: row wrap; } }
    body .container #myWork .container .content {
      position: relative;
      margin: 5px;
      box-shadow: 0 0 2px #616161;
      /* Overlay on image */ }
      @media only screen and (min-width: 700px) {
        body .container #myWork .container .content {
          max-width: none;
          height: auto;
          margin: 10px; } }
      body .container #myWork .container .content:hover {
        box-shadow: 1px 1px 4px #000; }
      body .container #myWork .container .content:hover .overlayTop {
        opacity: 1;
        height: 50%;
        bottom: 50%; }
      body .container #myWork .container .content:hover .overlayBottom {
        opacity: 1;
        height: 50%;
        top: 50%; }
      body .container #myWork .container .content img {
        display: block;
        max-width: 100%;
        height: auto; }

/* Colors */
/* odd */
/* even */
/* Fonts */
/* Fonts-size */
/* MENU */
/* icon-overlay */
/* Header Animation */
body .container .nav-container nav a:nth-child(1) i:after, body .container .nav-container nav a:nth-child(2) i:after, body .container .nav-container nav a:nth-child(3) i:after, body .container .nav-container nav a:nth-child(4) i:after, body .container .nav-container nav a:nth-child(5) i:after, body .container #contact .msgForm .popupWindow span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

body .container #contact {
  padding: 40px 10px;
  font-size: 14px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh; }
  @media only screen and (min-width: 400px) {
    body .container #contact {
      padding: 40px 20px; } }
  body .container #contact h2 {
    color: #444649; }
    @media only screen and (min-width: 400px) {
      body .container #contact h2 {
        font-size: 3em; } }
    @media only screen and (min-width: 800px) {
      body .container #contact h2 {
        font-size: 3.5em; } }
  body .container #contact p {
    color: #444649;
    font-size: 1em; }
    @media only screen and (min-width: 400px) {
      body .container #contact p {
        font-size: 1.2em; } }
    @media only screen and (min-width: 800px) {
      body .container #contact p {
        font-size: 1.5em; } }
  body .container #contact .msgForm {
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 500px) {
      body .container #contact .msgForm {
        width: 80%; } }
    @media only screen and (min-width: 800px) {
      body .container #contact .msgForm {
        width: 60%; } }
    body .container #contact .msgForm form {
      display: flex;
      flex-flow: column nowrap; }
      body .container #contact .msgForm form input, body .container #contact .msgForm form textarea {
        margin-bottom: 5px;
        resize: vertical;
        padding: 5px 5px;
        background-color: #F5F5F5;
        box-shadow: 1px 1px 2px black; }
      body .container #contact .msgForm form textarea {
        height: 80px; }
        @media only screen and (min-width: 400px) {
          body .container #contact .msgForm form textarea {
            height: 100px; } }
      body .container #contact .msgForm form input[type="submit"] {
        cursor: pointer;
        border: 1px solid #444649;
        font-weight: bold;
        outline: none;
        width: 100%;
        background-color: #E74C3C;
        color: #fff;
        transition: all 0.5s; }
        @media only screen and (min-width: 800px) {
          body .container #contact .msgForm form input[type="submit"] {
            width: 120px; } }
        body .container #contact .msgForm form input[type="submit"]:hover {
          background-color: #F5F5F5;
          color: #E74C3C; }
    body .container #contact .msgForm .popupWindow {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 105%;
      height: 105%;
      margin: -10px 0 0 -15px;
      border-radius: 10px;
      padding: 0;
      background-color: rgba(27, 36, 47, 0.8); }
      body .container #contact .msgForm .popupWindow span {
        position: absolute;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px 10px red; }

/* Colors */
/* odd */
/* even */
/* Fonts */
/* Fonts-size */
/* MENU */
/* icon-overlay */
/* Header Animation */
body .container .nav-container nav a:nth-child(1) i:after, body .container .nav-container nav a:nth-child(2) i:after, body .container .nav-container nav a:nth-child(3) i:after, body .container .nav-container nav a:nth-child(4) i:after, body .container .nav-container nav a:nth-child(5) i:after, body .container #contact .msgForm .popupWindow span {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

body .container footer {
  display: flex;
  flex-flow: column nowrap;
  height: 300px;
  background-color: #E74C3C; }
  body .container footer .icons {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    body .container footer .icons a {
      font-size: 64px; }

body {
  font-family: "Open Sans", sans-serif;
  /* Imported Google Font */ }
  @media only screen and (min-width: 800px) {
    body {
      margin-left: 80px; } }

/*# sourceMappingURL=App.css.map */
