@import "../helpers/mixins";

%footer {
  footer {
    display: flex;
    @include flex-flow(column nowrap);
    @include align-items(center);
    height: 300px;
    background-color: $background-home;
    font-size: 14px;
    .icons {
      margin-top: 50px;
      display: flex;
      color: $white;
      @include flex-flow(row wrap);
      @include align-items(center);
      @include justify-content(center);
      a {
        color: $background-nav;
        cursor: pointer;
        font-size: 64px;
        margin: 0 5px;
        @include transition(all .5s);
        @media only screen and (min-width: 400px) {
          font-size: 72px;
        }
        @media only screen and (min-width: 800px) {
          font-size: 100px;
          margin-left: 20px;
        }
        &:hover {
          color: $hover-nav;
        }
      }
    }
    p {
      margin-top: 40px;
      font-size: 1.3em;
      color: $white;
      text-transform: uppercase;
      font-family: $mono-font;
      @media only screen and (min-width: 400px) {
        font-size: 1.5em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 1.7em;
      }

      span {
        color: $black;
      }
    }
  }
}