@import "../helpers/mixins";
@import "../animations/headingButtonArrow";
@import "../animations/headingButtonLeftSideMove";
@import "../animations/headingButtonRightSideMove";

%heading-button {

  .heading-button {
    margin: 0;
    box-shadow: 0 0 15px #252627;
    border-radius: 5px;

    &:hover .left-side, &:hover .right-side {
      cursor: pointer;
      color: $black;
      //background-color: $white;
      text-shadow: 0 0 4px $red;
    }

    .right-side, .left-side {
      position: relative;
      display: inline-block;
      margin: 0;
      //border: 1px solid $white;
      font-family: $mono-font;
      font-size: .8em;
      text-decoration: none;
      background-color: $background-home;
      color: $white;
      @include transition(all .5s);
    }

    .right-side {
      border-left: none;
      border-radius: 0 5px 5px 0;
      padding: 5px 10px 5px 5px;
      @include animation(headingButtonRightSideMove 2s 1);

      i {
        position: relative;
        color: $black;
        padding-left: 10px;
        text-shadow: 0 0 1px $white;
        @include animation(headingButtonArrow 2s infinite);
        @include animation-timing-function(linear);
      }
    }

    .left-side {
      border-right: none;
      border-radius: 5px 0 0 5px;
      padding: 5px 5px 5px 10px;
      @include animation(headingButtonLeftSideMove 2s 1);
    }
  }
}
