/* Colors */
$background-home: #E74C3C;
$background-nav: #1B242F;
$background: #fff; /* odd */
$background-even: #F5F5F5; /* even */
$heading: #252627;
$white: #fff;
$red: red;
$black: black;
$hover : #E31B6D;
$hover-text: #fff;
$hover-nav: #08FDD8;
$nav : #476C9B;
$elements : #ADD9F4;
$text-styling : #984447;
$text : #444649;
$text-grey: #616161;

/* Fonts */
$standard-font: 'Open Sans', sans-serif;
$mono-font: 'Roboto Mono', monospace;

/* Fonts-size */
$standard-size: 14px;

/* MENU */
/* icon-overlay */
$menuItems: "HOME", "ABOUT", "SKILLS", "MY WORK", "CONTACT";
$counter: 1;