@-webkit-keyframes headingButtonArrow {
  0% {
    top: -1.5em;
    opacity: 0;
  }

  25% {
    top: -.5em;
    opacity: 0;
  }

  50% {
    top: 0;
    opacity: 1;
  }

  75% {
    top: .5em;
    opacity: 0;
  }

  100% {
    top: 1.5em;
    opacity: 0;
  }
}

@-moz-keyframes headingButtonArrow {
  0% {
    top: -1.5em;
    opacity: 0;
  }

  25% {
    top: -.5em;
    opacity: 0;
  }

  50% {
    top: 0;
    opacity: 1;
  }

  75% {
    top: .5em;
    opacity: 0;
  }

  100% {
    top: 1.5em;
    opacity: 0;
  }
}

@-o-keyframes headingButtonArrow {
  0% {
    top: -1.5em;
    opacity: 0;
  }

  25% {
    top: -.5em;
    opacity: 0;
  }

  50% {
    top: 0;
    opacity: 1;
  }

  75% {
    top: .5em;
    opacity: 0;
  }

  100% {
    top: 1.5em;
    opacity: 0;
  }
}

@-ms-keyframes headingButtonArrow {
  0% {
    top: -1.5em;
    opacity: 0;
  }

  25% {
    top: -.5em;
    opacity: 0;
  }

  50% {
    top: 0;
    opacity: 1;
  }

  75% {
    top: .5em;
    opacity: 0;
  }

  100% {
    top: 1.5em;
    opacity: 0;
  }
}

@keyframes headingButtonArrow {
  0% {
    top: -1.5em;
    opacity: 0;
  }

  25% {
    top: -.5em;
    opacity: 0;
  }

  50% {
    top: 0;
    opacity: 1;
  }

  75% {
    top: .5em;
    opacity: 0;
  }

  100% {
    top: 1.5em;
    opacity: 0;
  }
}