@-webkit-keyframes headingButtonLeftSideMove {
  0% {
    opacity: 0;
    left: -200%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@-moz-keyframes headingButtonLeftSideMove {
  0% {
    opacity: 0;
    left: -200%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@-o-keyframes headingButtonLeftSideMove {
  0% {
    opacity: 0;
    left: -200%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@-ms-keyframes headingButtonLeftSideMove {
  0% {
    opacity: 0;
    left: -200%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes headingButtonLeftSideMove {
  0% {
    opacity: 0;
    left: -200%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}



