@import "../helpers/mixins";

@-webkit-keyframes headerScaling {
  0% {
    opacity: 0;
    @include transform(scale(1.0));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1.0));
    opacity: 1;

  }
}

@-moz-keyframes headerScaling {
  0% {
    opacity: 0;
    @include transform(scale(1.0));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1.0));
    opacity: 1;

  }
}

@-o-keyframes headerScaling {
  0% {
    opacity: 0;
    @include transform(scale(1.0));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1.0));
    opacity: 1;

  }
}

@-ms-keyframes headerScaling {
  0% {
    opacity: 0;
    @include transform(scale(1.0));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1.0));
    opacity: 1;

  }
}

@keyframes headerScaling {
  0% {
    opacity: 0;
    @include transform(scale(1.0));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1.0));
    opacity: 1;

  }
}
