@-webkit-keyframes underLineMoving {
  0% {
    left: -300%;
  }
  5% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@-moz-keyframes underLineMoving {
  0% {
    left: -300%;
  }
  5% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@-o-keyframes underLineMoving {
  0% {
    left: -300%;
  }
  5% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@-ms-keyframes underLineMoving {
  0% {
    left: -300%;
  }
  5% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes underLineMoving {
  0% {
    left: -300%;
  }
  5% {
    left: 0;
  }
  100% {
    left: 0;
  }
}