/* Colors */
$background : #252627;
$background-nav : #101419;
$hover : #08FDD8;
$nav : #476C9B;
$elements : #ADD9F4;
$text-styling : #984447;
$text : #fff;
$text-grey: rgba(255, 255, 255, 0.3);

/* MENU */
/* icon-overlay */
$menuItems: "HOME", "ABOUT", "SKILLS", "MY WORK", "CONTACT";
$counter: 1;