@import "../helpers/mixins";
@import "../animations/underLineMoving";

%under-line {
  hr {
    position: relative;
    border: none;
    outline: none;
    height: 5px;
    background-color: $text;
    width: 10%;
    margin-bottom: 40px;
    @include animation-name(underLineMoving);
    @include animation-duration(8s);
    @include animation-iteration-count(infinite);
  }
}