@import "../helpers/placeholders";

%about {
  #about {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 40px 20px;
    font-size: $standard-size;
    background-color: $background-even;
    h2 {
      color: $text;
      font-size: 2em;
      @media only screen and (min-width: 400px) {
        font-size: 3em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 3.5em;

      }
    }
    p {
      font-size: 1.2em;
      span {
        color: $background-home;
        font-weight: bold;
      }
      @media only screen and (min-width: 400px) {
        font-size: 1.5em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 2em;
      }
    }
  }
}