@import "../helpers/placeholders";

%about {
  #about {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 40px 20px;
    background-color: $background-even;
    h2 {
      color: $text;
    }
  }
}