@import "../components/underLine";
%about {
  #about {
    display: flex;
    @include flex-flow(column, nowrap);
    @include align-items(center);
    padding: 40px 20px;
    font-size: $standard-size;
    background-color: $background-even;

    @extend %h2;
    @extend %under-line; // underline under heading level 2

    p {
      font-size: 1.2em;
      span {
        color: $background-home;
        font-weight: bold;
      }
      @media only screen and (min-width: 400px) {
        font-size: 1.5em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 2em;
      }
    }
  }
}