@import "../components/msgForm";
@import "../components/underLine";

%contact {
  #contact {
    padding: 40px 10px;
    font-size: $standard-size;
    display: flex;
    @include flex-flow(column nowrap);
    @include align-items(center);
    @media only screen and (min-width: 400px) {
      padding: 40px 20px;
    }
    @extend %h2;
    @extend %under-line; // underline under heading level 2
    p {
      color: $text;
      font-size: 1em;
      @media only screen and (min-width: 400px) {
        font-size: 1.2em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 1.5em;
      }
    }
    @extend %msg-form; // Msg Form Styling
  }
}