@import "../helpers/placeholders";

%contact {
  #contact {
    padding: 40px 20px;
    font-size: $standard-size;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h2 {
      color: $text;
      @media only screen and (min-width: 400px) {
        font-size: 3em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 3.5em;
      }

    }
    p {
      color: $text;
      font-size: 1em;
      @media only screen and (min-width: 400px) {
        font-size: 1.2em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 1.5em;
      }
    }

    form {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      input, textarea {
        margin-bottom: 5px;
        resize: vertical;
        padding: 5px 5px;
        @media only screen and (min-width: 400px) {
        }
        @media only screen and (min-width: 800px) {
        }
      }
      textarea {
        height: 80px;
        @media only screen and (min-width: 400px) {
          height: 100px;
        }
        @media only screen and (min-width: 800px) {
        }

      }

      input:last-child {
        cursor: pointer;
        border: 1px solid $text;
        font-weight: bold;
        outline: none;
        width: 60px;
        background-color: $background;
        color: $hover;
        &:hover {
          background-color: $hover;
          color: $hover-text;
        }
      }
      @media only screen and (min-width: 400px) {
        width: 80%;
      }
    }
  }
}