@import "../helpers/placeholders";

%contact {
  #contact {
    padding: 40px 10px;
    font-size: $standard-size;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh;
    @media only screen and (min-width: 400px) {
      padding: 40px 20px;
    }
    h2 {
      color: $text;
      @media only screen and (min-width: 400px) {
        font-size: 3em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 3.5em;
      }

    }
    p {
      color: $text;
      font-size: 1em;
      @media only screen and (min-width: 400px) {
        font-size: 1.2em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 1.5em;
      }
    }
    .msgForm {
      position: relative;
      width: 100%;
      @media only screen and (min-width: 500px) {
        width: 80%;
      }
      @media only screen and (min-width: 800px) {
        width: 60%;
      }
      form {
        display: flex;
        flex-flow: column nowrap;
        input, textarea {
          margin-bottom: 5px;
          resize: vertical;
          padding: 5px 5px;
          background-color: $background-even;
          box-shadow: 1px 1px 2px $black;
          @media only screen and (min-width: 400px) {
          }
          @media only screen and (min-width: 800px) {
          }
        }
        textarea {
          height: 80px;
          @media only screen and (min-width: 400px) {
            height: 100px;
          }
          @media only screen and (min-width: 800px) {
          }
        }
        input[type="submit"] {
          cursor: pointer;
          border: 1px solid $text;
          font-weight: bold;
          outline: none;
          width: 100%;
          background-color: $background-home;
          color: $white;
          transition: all 0.5s;
          @media only screen and (min-width: 800px) {
            width: 120px;
          }

          &:hover {
            background-color: $background-even;
            color: $background-home;
          }
        }
      }
      .popupWindow {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 105%;
        height: 105%;
        margin: -10px 0 0 -15px;
        border-radius: 10px;

        padding: 0;
        background-color: $backgroundNav-rgb;
        span {
          position: absolute;
          color: $white;
          text-transform: uppercase;
          font-weight: bold;
          text-shadow: 1px 1px 10px $red;
          @extend %centering;
        }
      }
    }
  }
}