@import "../helpers/placeholders";
@import "../layout/heading";
@import "../layout/subHeading";
@import "../components/headingButton";

%home {

  #home {
    padding: 100px 0 40px 0;
    display: flex;
    @include flex-flow(column, nowrap);
    @include align-items(flex-start);
    min-height: 100vh;
    font-size: 14px;
    background-color: $background-home;
    @media only screen and (min-width: 400px) {
      padding: 80px 0 40px 0;
    }
    @media only screen and (min-width: 800px) {
      padding: 80px 0 40px 0;
      @include flex-flow(column, wrap);
      @include align-items(center);
      @include justify-content(center);
    }

    .heading {
      font-size: 3em;
      width: 100%;
      margin: 0;
      font-family: $mono-font;
      @media only screen and (min-width: 400px) {
        font-size: 5em;
      }
      @media only screen and (min-width: 800px) {
        text-align: center;
        font-size: 8em;
      }
      @extend %heading; // Add Main Heading
    }

    @extend %subHeading; // Add SubHeading
    @extend %heading-button; // Add Heading Button
  }
}