@import "../helpers/placeholders";
@import "../components/header";

%home {

  #home {
    padding: 100px 0 40px 0;
    display: flex;
    @include flex-flow(column, nowrap);
    @include align-items(flex-start);
    min-height: 100vh;
    font-size: 14px;
    background-color: $background-home;
    @media only screen and (min-width: 400px) {
      padding: 80px 0 40px 0;
    }
    @media only screen and (min-width: 800px) {
      padding: 80px 0 40px 0;
      @include flex-flow(column, wrap);
      @include align-items(center);
      @include justify-content(center);
    }

    .heading {
      font-size: 3em;
      width: 100%;
      margin: 0;
      font-family: $mono-font;
      @media only screen and (min-width: 400px) {
        font-size: 5em;
      }
      @media only screen and (min-width: 800px) {
        text-align: center;
        font-size: 8em;
      }
      @extend %header; // Add Main Header
    }

    @keyframes showSubHeading {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .subHeading {
      margin-top: 0;
      margin-left: 15px;
      padding: 2px;
      font-size: 1.5em;
      color: $text-grey;
      text-shadow: 1px 1px 4px $white;
      animation-name: showSubHeading;
      animation-duration: 3s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      opacity: 0;
      @media only screen and (min-width: 300px) {
        margin-left: 20px;
      }
      @media only screen and (min-width: 400px) {
        font-size: 2em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 4em;
      }
    }

    a {
      font-family: $mono-font;
      font-size: 1em;
      margin-left: 15px;
      text-decoration: none;
      border: 1px solid $white;
      padding: 5px 10px;
      background-color: $background-home;
      box-shadow: 0 0 15px #252627;
      border-radius: 5px;
      color: black;
      font-weight: bold;
      display: flex;
      align-items: center;
      transition: color 0.5s, background-color 1.5s, text-shadow 0.5s;

      @media only screen and (min-width: 300px) {
        margin-left: 20px;
      }
      @media only screen and (min-width: 400px) {
        padding: 10px 15px;
        font-size: 1.2em;
      }
      @media only screen and (min-width: 800px) {

      }

      i {
        padding-left: 5px;
        transition: all 0.5s;

      }
      &:hover {
        color: $black;
        background-color: $white;
        text-shadow: 0 0 2px $red;
      }

      &:hover i {
        transform: rotate(90deg) translate(-2px, 0);
      }
    }
  }
}