@import "../helpers/placeholders";
@import "../components/fallingLetters";

%home {
  @keyframes move {
    0% {
      top: -300%;
      opacity: 0
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }

  #home {
    padding: 100px 0 40px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    min-height: 100vh;
    font-size: 14px;
    background-color: $background-home;
    @media only screen and (min-width: 400px) {
      padding: 80px 0 40px 0;
      align-items: center;
      justify-content: center;
    }

    .heading {
      font-size: 3em;
      width: 100%;
      margin: 0;
      font-family: $mono-font;
      @media only screen and (min-width: 400px) {
        text-align: center;
        font-size: 5em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 8em;
      }

      @extend %paragraphs-falling-letters;
    }

    .subHeading {
      margin-top: 0;
      margin-left: 20px;
      padding: 2px;
      font-size: 1.5em;
      color: $text-grey;
      text-shadow: 1px 1px 4px $white;
      @media only screen and (min-width: 400px) {
        font-size: 2em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 4em;
      }
    }

    a {
      font-family: $mono-font;
      font-size: 1em;
      margin-left: 20px;
      text-decoration: none;
      border: 1px solid $white;
      padding: 5px;
      background-color: $background-home;
      box-shadow: 0 0 15px #252627;
      border-radius: 5px;
      color: $white;
      font-weight: bold;
      display: flex;
      align-items: center;
      transition: color 0.5s, background-color 1.5s, text-shadow 0.5s;
      @media only screen and (min-width: 400px) {
        padding: 10px;
      }

      i {
        padding-left: 5px;
        transition: all 0.5s;

      }
      &:hover {
        color: $black;
        background-color: $white;
        text-shadow: 0 0 2px $red;
      }

      &:hover i {
        transform: rotate(90deg) translate(-2px, 0);
      }
    }
  }
}