@import "../components/imageOverlay";
@import "../components/underLine";

%myWork {
  #myWork {
    padding: 40px 0 60px 0;
    background-color: $background-even;
    font-size: $standard-size;

    @extend %h2;
    @extend %under-line; // underline under heading level 2

    .container {
      display: flex;
      @include flex-flow(column nowrap);
      @include justify-content(center);
      @include align-items(center);
      cursor: pointer;
      @media only screen and (min-width: 700px) {
        @include flex-flow(row wrap);
      }
      .content {
        position: relative;
        margin: 5px;
        box-shadow: 0 0 2px $text-grey;
        @media only screen and (min-width: 600px) {
        }
        @media only screen and (min-width: 700px) {
          max-width: none;
          height: auto;
          margin: 10px;
        }

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }

        /* Overlay on image */
        @extend %image-overlay;
      }
    }
  }
}