@import "../helpers/placeholders";
@import "../components/imageOverlay";

%myWork {
  #myWork {
    padding: 40px 0 60px 0;
    background-color: $background-even;
    font-size: $standard-size;
    h2 {
      text-align: center;
      margin-bottom: 60px;
      color: $text;
      font-size: 2em;
      @media only screen and (min-width: 400px) {
        font-size: 3em;
      }
      @media only screen and (min-width: 800px) {
        font-size: 3.5em;
      }
    }

    .container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @media only screen and (min-width: 500px) {
        flex-flow: row wrap;
      }
      @media only screen and (min-width: 700px) {
        flex-flow: row nowrap;
      }
      .content {
        position: relative;
        @media only screen and (min-width: 500px) {
          max-width: 230px;
          height: auto;
          margin: 5px;
        }
        @media only screen and (min-width: 700px) {
          max-width: none;
          height: auto;
          margin: 10px;
        }

        &:hover {
          box-shadow: 1px 1px 4px #000;
        }

        &:hover .overlayTop {
          opacity: 1;
          height: 50%;
          bottom: 50%;
        }

        &:hover .overlayBottom {
          opacity: 1;
          height: 50%;
          top: 50%;
        }

        img {
          display: block;
          max-width: 100%;
          height: auto;
        }

        /* Overlay on image */
        @extend %image-overlay;
      }
    }
  }
}