@import "../components/underLine";

%skills {
  #skills {
    padding: 40px 0 60px 0;
    background: $background;
    font-size: $standard-size;

    @extend %h2;
    @extend %under-line; // underline under heading level 2

    .container {
      display: flex;
      @include flex-flow(row, wrap);
      @include justify-content(space-evenly);
      @include align-items(center);

      .content {
        display: flex;
        @include flex-flow(column, nowrap);
        @include justify-content(center);
        @include align-items(center);
        margin: 15px;

        i {
          font-size: 36px;
          margin-bottom: 10px;
          @media only screen and (min-width: 400px) {
            font-size: 64px;
            margin-left: 10px;
            margin-right: 10px;
          }
          @media only screen and (min-width: 800px) {
            font-size: 96px;
            margin-left: 20px;
            margin-right: 20px;
          }
        }

        span {
          color: $text-grey;
          font-weight: bold;
        }
      }
    }
  }
}