/* Colors */
/* MENU */
/* icon-overlay */
.container .nav-container nav a:nth-child(1) i:after, .container .nav-container nav a:nth-child(2) i:after, .container .nav-container nav a:nth-child(3) i:after, .container .nav-container nav a:nth-child(4) i:after, .container .nav-container nav a:nth-child(5) i:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.container .nav-container nav a:nth-child(1) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101419;
  opacity: 0;
  transition: opacity 0.5s; }
.container .nav-container nav a:nth-child(1) i:hover:before {
  opacity: 1; }
.container .nav-container nav a:nth-child(1) i:after {
  content: "HOME";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
.container .nav-container nav a:nth-child(1) i:hover:after {
  opacity: 1; }
.container .nav-container nav a:nth-child(2) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101419;
  opacity: 0;
  transition: opacity 0.5s; }
.container .nav-container nav a:nth-child(2) i:hover:before {
  opacity: 1; }
.container .nav-container nav a:nth-child(2) i:after {
  content: "ABOUT";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
.container .nav-container nav a:nth-child(2) i:hover:after {
  opacity: 1; }
.container .nav-container nav a:nth-child(3) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101419;
  opacity: 0;
  transition: opacity 0.5s; }
.container .nav-container nav a:nth-child(3) i:hover:before {
  opacity: 1; }
.container .nav-container nav a:nth-child(3) i:after {
  content: "SKILLS";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
.container .nav-container nav a:nth-child(3) i:hover:after {
  opacity: 1; }
.container .nav-container nav a:nth-child(4) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101419;
  opacity: 0;
  transition: opacity 0.5s; }
.container .nav-container nav a:nth-child(4) i:hover:before {
  opacity: 1; }
.container .nav-container nav a:nth-child(4) i:after {
  content: "MY WORK";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
.container .nav-container nav a:nth-child(4) i:hover:after {
  opacity: 1; }
.container .nav-container nav a:nth-child(5) i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101419;
  opacity: 0;
  transition: opacity 0.5s; }
.container .nav-container nav a:nth-child(5) i:hover:before {
  opacity: 1; }
.container .nav-container nav a:nth-child(5) i:after {
  content: "CONTACT";
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 8px;
  /* Centered */ }
.container .nav-container nav a:nth-child(5) i:hover:after {
  opacity: 1; }

.container .nav-container {
  /* TOP MENU - on small screen */
  /* BOTTOM MENU */
  /* Tablets */
  /* Desktop */ }
  .container .nav-container .menu {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 3px 10px 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #101419;
    z-index: 1000; }
    .container .nav-container .menu .material-icons.md {
      font-size: 36px;
      color: #fff; }
      .container .nav-container .menu .material-icons.md:hover {
        color: #08FDD8;
        cursor: pointer; }
  .container .nav-container nav {
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #101419;
    /* Menu icons Overlay on all screens */ }
    .container .nav-container nav a {
      position: relative;
      padding: 10px 0;
      text-decoration: none;
      display: flex;
      justify-content: center; }
      .container .nav-container nav a .material-icons.md {
        color: rgba(255, 255, 255, 0.3); }
        .container .nav-container nav a .material-icons.md:hover {
          color: #08FDD8; }
  .container .nav-container nav.hide {
    transform: translate3d(-100%, 0, 0); }
  .container .nav-container nav.show {
    transform: translate3d(0, 0, 0);
    overflow: hidden; }
  @media only screen and (min-width: 400px) {
    .container .nav-container .menu {
      display: none; }
    .container .nav-container nav {
      transform: translate3d(0, 0, 0);
      top: 0;
      justify-content: center; }
      .container .nav-container nav a {
        padding: 10px 20px; }
    .container .nav-container nav.hide {
      transform: translate3d(0, 0, 0); } }
  @media only screen and (min-width: 800px) {
    .container .nav-container nav {
      flex-flow: column wrap;
      width: 80px;
      height: 100%; } }

/* Colors */
/* MENU */
/* icon-overlay */
.container .nav-container nav a:nth-child(1) i:after, .container .nav-container nav a:nth-child(2) i:after, .container .nav-container nav a:nth-child(3) i:after, .container .nav-container nav a:nth-child(4) i:after, .container .nav-container nav a:nth-child(5) i:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.container #home {
  padding: 80px 0 40px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  .container #home #heading {
    font-size: 2em;
    margin: 0; }
    .container #home #heading p {
      display: inline-block;
      line-height: 1.5em;
      margin: 0 10px 0 0;
      color: #fff;
      text-shadow: 1px 1px 10px red; }
      .container #home #heading p::first-letter {
        font-size: 2em;
        color: red;
        text-shadow: 1px 1px 2px #fff; }
      .container #home #heading p span {
        color: #fff;
        text-shadow: 0 0; }
    .container #home #heading p:first-child {
      display: block; }
  .container #home p {
    margin-top: 0;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.3); }
  .container #home a {
    margin-top: 20px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    color: #08FDD8;
    font-weight: bold; }
    .container #home a:hover {
      color: #252627;
      background-color: #08FDD8; }
@media only screen and (min-width: 400px) {
  .container #home {
    align-items: flex-start;
    margin-left: 60px; } }

/* Colors */
/* MENU */
/* icon-overlay */
.container .nav-container nav a:nth-child(1) i:after, .container .nav-container nav a:nth-child(2) i:after, .container .nav-container nav a:nth-child(3) i:after, .container .nav-container nav a:nth-child(4) i:after, .container .nav-container nav a:nth-child(5) i:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.container #about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 40px 20px;
  background-color: #fff; }
  .container #about h2 {
    color: #252627;
    text-align: center; }

/* Colors */
/* MENU */
/* icon-overlay */
.container .nav-container nav a:nth-child(1) i:after, .container .nav-container nav a:nth-child(2) i:after, .container .nav-container nav a:nth-child(3) i:after, .container .nav-container nav a:nth-child(4) i:after, .container .nav-container nav a:nth-child(5) i:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.container #skills {
  padding: 40px 20px; }
  .container #skills h2 {
    color: #08FDD8;
    text-align: center; }
  .container #skills .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; }
    .container #skills .container .content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin: 15px; }
      .container #skills .container .content i {
        font-size: 36px;
        margin-bottom: 10px; }
        @media only screen and (min-width: 400px) {
          .container #skills .container .content i {
            font-size: 48px; } }
        @media only screen and (min-width: 800px) {
          .container #skills .container .content i {
            font-size: 64px; } }
      .container #skills .container .content span {
        color: #fff; }

/* Colors */
/* MENU */
/* icon-overlay */
.container .nav-container nav a:nth-child(1) i:after, .container .nav-container nav a:nth-child(2) i:after, .container .nav-container nav a:nth-child(3) i:after, .container .nav-container nav a:nth-child(4) i:after, .container .nav-container nav a:nth-child(5) i:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.container #myWork {
  background-color: #fff;
  padding: 40px 0;
  cursor: pointer; }
  .container #myWork h2 {
    text-align: center; }
  .container #myWork .container {
    display: flex;
    flex-flow: column nowrap; }
    .container #myWork .container .content {
      position: relative; }
      .container #myWork .container .content:hover .overlayTop {
        opacity: 1;
        height: 50%;
        bottom: 50%; }
      .container #myWork .container .content:hover .overlayBottom {
        opacity: 1;
        height: 50%;
        top: 50%; }
      .container #myWork .container .content img {
        display: block;
        max-width: 100%;
        height: auto; }
      .container #myWork .container .content .overlayTop {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        background-color: #fff;
        opacity: 0;
        transition: all 1s; }
        .container #myWork .container .content .overlayTop h3 {
          margin: 0; }
        .container #myWork .container .content .overlayTop span {
          color: #984447; }
      .container #myWork .container .content .overlayBottom {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #fff;
        opacity: 0;
        transition: all 1s; }
        .container #myWork .container .content .overlayBottom a {
          text-decoration: none;
          border: 1px solid #08FDD8;
          padding: 5px 15px;
          color: #252627;
          font-weight: bold; }
          .container #myWork .container .content .overlayBottom a:hover {
            background-color: #08FDD8;
            color: #fff; }
    @media only screen and (min-width: 800px) {
      .container #myWork .container {
        flex-flow: row nowrap; } }

/* Colors */
/* MENU */
/* icon-overlay */
.container .nav-container nav a:nth-child(1) i:after, .container .nav-container nav a:nth-child(2) i:after, .container .nav-container nav a:nth-child(3) i:after, .container .nav-container nav a:nth-child(4) i:after, .container .nav-container nav a:nth-child(5) i:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.container #contact {
  padding: 40px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }
  .container #contact h2 {
    text-align: center;
    color: #08FDD8; }
  .container #contact p {
    color: #fff; }
  .container #contact form {
    display: flex;
    flex-flow: column nowrap; }
    .container #contact form input, .container #contact form textarea {
      margin-bottom: 5px;
      width: 100%;
      resize: vertical;
      padding: 5px 5px; }
    .container #contact form input:last-child {
      width: 60px;
      background-color: #252627;
      color: #08FDD8; }
    @media only screen and (min-width: 800px) {
      .container #contact form input, .container #contact form textarea {
        width: 50%; } }

/*# sourceMappingURL=App.css.map */
